<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="container" fxLayout fxLayoutGap="10px" >
      <a routerLink="/home">Qube</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="accent" fxHide.lt-sm>
  <mat-toolbar-row>

    <span class="comp-spacer"></span>
    <div fxLayoutGap="10px">
      <a routerLink="/home" class="nav-link">Home</a>
      <a routerLink="/home" class="nav-link">Link1</a>
      <a routerLink="/home" class="nav-link">Link2</a>

    </div>


  </mat-toolbar-row>

</mat-toolbar>